<html>
  <head>
    <title>Welcome to the Lemonland</title>
  </head>
  <meta charset="UTF-8">
  <body>
  <h1>Lemoncode</h1>
  <p>Campero a great meal! 🍔</p>

  <p>Running on {{ inventory_hostname }}</p>
  </body>
</html>
